{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/update/{{product.0}}" method="POST">
                <div class="form-group">
                    <input type="text" name="CodigoProducto" value="{{product.1}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Precio" value="{{product.2}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="SaldoInventario" value="{{product.3}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="date" name="FechaIngreso" value="{{product.4}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="UsuarioIngreso" value="{{product.5}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="IDFamilia" value="{{product.6}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Descripcion" value="{{product.7}}" class="form-control">
                </div>
                                <div class="form-group">
                                    <input type="text" name="NombreProduto" value="{{product.8}}" class="form-control">
                                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Actualizar Registro
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}