{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='css/inFam.css')}}">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar una nueva familia de productos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-body">
                            <form action="/add_family" method="POST">

                                <input class="form-control" type="text" name="IDFamilia"
                                    placeholder="Codigo de la familia">

                                <input class="form-control" type="text" name="NombreFamilia" placeholder="Nombre de la familia">

                                <input class="form-control" type="text" name="UsuarioIngreso"
                                    placeholder="Usuario de Ingreso">

                                <input class="form-control" type="text" name="Estado"
                                    placeholder="Estado">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btn-primary">
                                        Guardar
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Agregar una nueva familia de productos
            </button>


<div class="table-wrapper">
    <table class="fl-table">
            <thead>
                <tr>

                    <td>Codigo de Familia</td>
                    <td>Nombre de Familia</td>
                    <td>Usuario de Ingreso</td>
                    <td>Estado</td>
                    <td colspan="3">Acciones</td>

                </tr>
            </thead>
            <tbody>
                {% for family in familys %}
                <tr>

                    <td>{{family.1}}</td>
                    <td>{{family.2}}</td>
                    <td>{{family.3}}</td>
                    <td>{{family.4}}</td>
                    <td>
                        <a href="/detallefamily/{{family.0}}" class="btn btn-primary">Detalles</a>
                    </td>
                    <td>
                        <a href="/edit/{{family.0}}" class="btn btn-secondary">Editar</a>
                    </td>
                    <td>
                        <a href="/delete/{{family.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

 

























{% endblock %}







 






