{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename='css/myStylehom.css')}}">

 
<header>
  <div class="overlay">
    <h1>Tienda el ejemplo</h1>
    <h3>Ofertas para ti</h3>
    <p>Eres muy bienvenido</p>
    <br>
    <button>READ MORE</button>
  </div>
</header>



<section class="info">
 
<h2>Conoce nuestros productos (cargados dinamicamente de BD)</h2>
</section>
<section class="cards-wrapper">
  {% for product in products %}
  <div class="card-grid-space">
    <div class="num">{{product.1}}</div>
    <a class="card" href="/detalle/{{product.0}}"
      style="--bg-img: url(https://scontent.ffon1-1.fna.fbcdn.net/v/t1.0-9/116589951_123695652764454_6190196715833952009_n.png?_nc_cat=110&ccb=2&_nc_sid=e3f864&_nc_ohc=az383lsIpJ8AX8KsaW4&_nc_ht=scontent.ffon1-1.fna&oh=75afd10f9c7b2508c0b1ef7ebb400831&oe=600E18F7)">
      <div>
        <h1>{{product.8}}</h1>
        <p>{{product.7}}</p>
        <div class="date">{{product.4}}</div>
        <div class="tags">
          <div class="tag">Precio: {{product.2}}</div>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}

</section>
<link rel="stylesheet" href="{{url_for('static', filename='css/myStylehom2.css')}}">

  <div class="overlay" style="text-align: center;">
    <h1>Explora entre familias</h1>
    <p>Y personaliza tu busqueda</p>
    <br>

  </div>
 

{% for family in familys %}
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">{{family.2}}</a></h3>
      <div class="intro"> <a href="#">Codigo: {{family.1}}</a> </div>
    </div>
    <div class="card-info">
<p>Usuario de Ingreso {{family.3}}</p>
<p>Estado: {{family.4}}</p>
      <a  href="/detallefamily/{{family.0}}">Leer mas...<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-like"></span><a href="#">2</a></li>
        <li><span class="licon icon-com"></span><a href="#">12</a></li>
        <li><span class="licon icon-dat"></span>03 jun 2017</li>
        <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
      </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->
<p style="text-align: center;"><em><strong>_______________________</strong></em></p>
  {% endfor %}





{% endblock %}