<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="./assets/css/style2.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/slick.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="./assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="./assets/css/style.css" rel="stylesheet" type="text/css" />
	<title id="TituloPagina">Examen parte 1</title>
</head>

<body>
	<header class="mt-0 pt-0">
		<div class="bg-cover clearfix pt-3">
			<h2 id="Logo" class="logo">Fundamentos Web</h2>
			<nav class="nav nav-fill mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="https://www.facebook.com/JuanEAraica" target="_blank"><i
							class="fab fa-facebook-f"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.instagram.com/juanearaica/?hl=es-la"><i
							class="fab fa-instagram"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
						href="https://www.youtube.com/channel/UCv096r1J1Lyt5CdVZabbusA?view_as=subscriber"><i
							class="fab fa-google-plus-g"></i></a>
				</li>
			</nav>


			<input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
			<div class="ml-0 mr-0 pb-1">
				<nav class="navbar navbar-expand-md">

					<button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
						aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
						aria-label="Toggle navigation">
						<span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
					</button>
					<div id="my-nav" class="collapse navbar-collapse">
						<ul class="navbar-nav mx-auto">

							<li class="nav-item">
								<a class="nav-link" href="article.html">Topico</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" href="index.html">Pagina Principal</a>
							</li>


							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="assets\images\z1.jpeg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>J</span>
						<h2 class="universal-h2">uan Araica</h2>
					</div>
					<p>Estudiante, secretario, artista, maestro y desarrollador</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">Sobre mi como persona</h2>
						<p> Soy excentrico y de gustos locos, amante de las emociones fuertes y amante de los animales,
							soñador, pensador y
							con una fuerza de voluntad tan fuerte como mi conviccion misma.</p>


					</div>
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">Sobre mi como profesional</h2>
						<p>Exigente conmigo mismo, disfruto del trabajo en equipo y el enrriqusimiento de conocimiento,
							no me considero alguien duro de llevar, sin embargo siempre tratare de hacer las cosas bien.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>



	<!-- Social -->
	<section class="fh5co-social">
		<div class="site-container">
			<div class="social">
				<h5>Sigueme</h5>
				<div class="social-icons">
					<a href="https://www.facebook.com/JuanEAraica" target="_blank"><img
							src="./assets/images/social-twitter.png" alt="social icon"></a>
					<a href="https://www.instagram.com/juanearaica/?hl=es-la" target="_blank"><img
							src="./assets/images/social-pinterest.png" alt="social icon"></a>
					<a href="https://www.youtube.com/channel/UCv096r1J1Lyt5CdVZabbusA?view_as=subscriber"
						target="_blank"><img src="./assets/images/social-youtube.png" alt="social icon"></a>

				</div>
				<h5>Nos vemos!</h5>
			</div>
		</div>
	</section>
	<!-- Social -->

	<!-- Footer -->
	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
				<div class="footer-info">
					<div class="footer-info__left">
						<img src="./assets/images/footer-img.jpg" alt="about me image">
						<p>Si quieres ponerte en contacto:</p>
					</div>
					<div class="footer-info__right">
						<h5>Te dejo mi tarjeta</h5>
						<p class="footer-phone">Tel: +506 8654-94-60</p>
						<p>Email : juanaraica149@gmail.com</p>
						<div class="social-icons">
							<a href="#" target="_blank"><img src="./assets/images/social-twitter.png"
									alt="social icon"></a>
							<a href="#" target="_blank"><img src="./assets/images/social-pinterest.png"
									alt="social icon"></a>
							<a href="#" target="_blank"><img src="./assets/images/social-youtube.png"
									alt="social icon"></a>
							<a href="#" target="_blank"><img src="./assets/images/social-twitter.png"
									alt="social icon"></a>
						</div>
					</div>
				</div>
				<div class="footer-contact-form">
					<h5>Formulario de contacto</h5>
					<form class="contact-form">
						<div class="contact-form__input">
							<input type="text" name="name" placeholder="Nombre">
							<input type="email" name="email" placeholder="E-mail">
						</div>
						<textarea></textarea>
						<input type="submit" name="submit" value="Enviar" class="submit-button">
					</form>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="site-container footer-bottom-inner">
				<p class="text-center">Juan E. Araica|| Todos los derechos
					reservados.</p>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>

</html>